camel-jaxb/src/main/resources/META-INF/ImageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="urn:switchyard-quickstart:soap-attachment:1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="urn:switchyard-quickstart:soap-attachment:1.0"
    name="ImageServiceService">
    <types>
        <xsd:schema xmlns:tns="urn:switchyard-quickstart:soap-attachment:1.0" version="1.0" targetNamespace="urn:switchyard-quickstart:soap-attachment:1.0">
            <xsd:element name="num1" nillable="true" type="xsd:string"/>
            <xsd:element name="num2" nillable="true" type="xsd:string"/>
        </xsd:schema>
    </types>
    <message name="input">
        <part name="num1" element="tns:num1"/>
                <part name="num2" element="tns:num2"/>
        
    </message>
    <message name="sum">
        <part name="sum" element="tns:sum"/>
    </message>
    <portType name="ImageService">
        <operation name="echoImage">
            <input message="tns:echoImage"/>
            <output message="tns:echoImageResponse"/>
        </operation>
    </portType>
    <binding name="ImageServicePortBinding" type="tns:ImageService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="echoImage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="urn:switchyard-quickstart:soap-attachment:1.0"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:switchyard-quickstart:soap-attachment:1.0"/>
            </output>
            <!-- mime parts are disallowed by WS-I BP http://www.ws-i.org/profiles/BasicProfile-1.0-2004-04-16.html#refinement16627160-->
            <!--<input>
                <mime:multipartRelated>
                    <mime:part>
                        <mime:content part="echoImage" type="image/png" />
                    </mime:part>
                </mime:multipartRelated>
            </input>
            <output>
                <mime:multipartRelated>
                    <mime:part>
                        <mime:content part="echoImageResponse" type="image/png" />
                    </mime:part>
                </mime:multipartRelated>
            </output>-->
        </operation>
    </binding>
    <service name="ImageServiceService">
        <port name="ImageServicePort" binding="tns:ImageServicePortBinding">
            <soap:address location="http://localhost:8080/soap-attachment/ImageServiceService"/>
        </port>
    </service>
</definitions>
