camel-jaxb/src/main/resources/wsdl/ACA_XML_LIBRARY_8.0/EXT/IRS-EXT-ACA-ISR-4.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by ﻿IRS (IRS) -->
<xsd:schema xmlns="urn:us:gov:treasury:irs:ext:aca:isr:4.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:irs="urn:us:gov:treasury:irs:common" targetNamespace="urn:us:gov:treasury:irs:ext:aca:isr:4.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.0">
	<xsd:annotation>
		<xsd:appinfo>
			<release>ACA Release 4.0</release>
		</xsd:appinfo>
		<xsd:documentation>
		    !!!!!!!!!!! NOTICE:  This XML vocabulary is for ACA release 4.0 development purposes !!!!!!!!!! 
		    04-18-2014: The IRS-EXT-ACA-ISR-4.0 extension file created for CR ISR0000111 modifications. 
		 </xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports ===== -->
	<xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC-8.0.xsd"/>
	<!-- ============================================= -->
	<!-- ===== Local CAC Global Elements  ================ -->
	<xsd:element name="ACAAttachmentDetail" type="ACAAttachmentDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchDetail" type="ACABatchDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchManifestDetail" type="ACABatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchManifestDetailList" type="ACABatchManifestDetailListType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail List Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail List</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchManifestResponseDetail" type="ACABatchManifestResponseDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Response Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Response Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABatchTransmissionDetail" type="ACABatchTransmissionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Transmission Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Transmission Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ACABulkBatchManifestDetail" type="ACABulkBatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Bulk Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Detail (inlcudes Bulk File).</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CMSResponseDetail" type="irs:ErrorMessageDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>CMS Response Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-04-03</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A group that associates details related to the CMS Response.</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MissingBatchDetail" type="MissingBatchDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Missing Batch Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Missing Batch Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MissingFileManifestDetail" type="MissingFileManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Missing File Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Missing File Manifest Detail</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MissingFileManifestDetailList" type="MissingFileManifestDetailListType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Missing File Notification Manifest Detail List Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-24</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the Missing File Notification Detail List</DescriptionTxt>
					<DataElementID>163493</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestResponseMetricsDetail" type="RequestResponseMetricsDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Request Response Metrics Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-04-03</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A group that associates details related to the Request Response Metrics.</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceLevelMetaDataDetail" type="ServiceLevelMetaDataDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Level Metadata Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-14</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A group that wraps metadata detail related to a service level.</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ============================================= -->
	<!-- ============================================= -->
	<!-- ===== Local CAC Type Defintions ================ -->
	<xsd:complexType name="ACAAttachmentDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:BinaryFormatCd"/>
			<xsd:element ref="irs:ChecksumAugmentationNum"/>
			<xsd:element ref="AttachmentByteSizeNum"/>
			<xsd:element ref="DocumentSystemFileNm"/>
			<xsd:element ref="irs:SystemDocumentId" minOccurs="0"/>
			<xsd:element ref="irs:DocumentSequenceNum"/>
			<xsd:element ref="irs:InternalDocumentSystemFileNm" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:BatchId"/>
			<xsd:element ref="BatchPartnerId"/>
			<xsd:element ref="BatchAttachmentTransmissionQty"/>
			<xsd:element ref="BatchCategoryCd"/>
			<xsd:element ref="BatchTransmissionQty"/>
			<xsd:element ref="irs:OriginalBatchId" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABatchDetail"/>
			<xsd:element ref="ACABatchTransmissionDetail"/>
			<xsd:element ref="irs:ACAReportingServiceDetail"/>
			<xsd:element ref="ACAAttachmentDetail" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchManifestDetailListType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Attachment Detail List Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Attachment Detail List</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABatchManifestDetail" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchManifestResponseDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Manifest Response Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Manifest Response Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:ResponseCd"/>
			<xsd:element ref="irs:ResponseCodeDescription"/>
			<xsd:element ref="irs:SystemDocumentId" minOccurs="0"/>
			<xsd:element ref="irs:DocumentSequenceNum"/>
			<xsd:element ref="irs:ErrorMessageDetail"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABatchTransmissionDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Batch Transmission Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Batch Transmission Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TransmissionAttachmentQty"/>
			<xsd:element ref="SequenceNum"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ACABulkBatchManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) HHS Batch Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA HHS (includes Bulk File) Batch Manifest Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABatchManifestDetail"/>
			<xsd:element ref="irs:BulkExchangeFile"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MissingBatchDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Missing Batch Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Missing Batch Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ACABatchDetail"/>
			<xsd:element ref="irs:MissingDocumentSequenceNum" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MissingFileManifestDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Missing File Manifest Detail Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Missing File Manifest Detail Type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="MissingBatchDetail"/>
			<xsd:element ref="ACABatchTransmissionDetail"/>
			<xsd:element ref="irs:ACAReportingServiceDetail"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MissingFileManifestDetailListType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Affordable Care Act (ACA) Missing File Notification Manifest Detail List Group</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-24</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Global type for the ACA Missing File Notification Manifest Detail List</DescriptionTxt>
					<DataElementID> </DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="MissingFileManifestDetail" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RequestResponseMetricsDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Request Response Metrics Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-04-03</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The type for the Request Response Metrics detail</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="RequestReceiptDateTs" minOccurs="0"/>
			<xsd:element ref="ResponseDeliveryDateTs" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceLevelMetaDataDetailType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Level Meta Data Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-14</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Service Level MetaData for BRMG and ESB</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:ACABusinessHeaderDetail"/>
			<xsd:element ref="ACABatchManifestDetailList"/>
			<xsd:element ref="irs:MessageId"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ============================================= -->
	<!-- ===================================== -->
	<!-- ===== Local CBC Element Declarations ===== -->
	<!-- ====================================== -->
	<xsd:element name="AttachmentByteSizeNum" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Attachment Byte Size Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A size of a binary object (attachment) in bytes.</DescriptionTxt>
					<DataElementId>166001</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchAttachmentTransmissionQty" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Attachment Transmission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of total number of attachments in a batch submission (across all transmissions).</DescriptionTxt>
					<DataElementId>166002</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchCategoryCd" type="BatchCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Category Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The kind of batch submission, a cummulative list of predetermined values identifying each possible kind of batch processing.</DescriptionTxt>
					<DataElementId>166003</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchPartnerId" type="ExchangeIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Partner Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a participant in the Health Insurance Exchange Ecosystem. Expected to be duplication of Partner ID provided inside attached file to identify which Partner has submitted a report/request.</DescriptionTxt>
					<DataElementId>166005</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchTransmissionQty" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Transmission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of transmissions in a batch submission. The total number of submissions required to complete the report submittal due to files being split to meet max file size.</DescriptionTxt>
					<DataElementId>166006</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSystemFileNm" type="DocumentSystemFileNameType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document System File Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-02</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>AMS R 2.1</VersionDescriptionTxt>
					<DescriptionTxt>The filename of a document in a file system.</DescriptionTxt>
					<DataElementID>151498</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileStatusCd" type="FileStatusCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Status Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Code that indicates the file delivery status</DescriptionTxt>
					<DataElementId>174143</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RequestReceiptDateTs" type="irs:TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Request Receipt Date Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-04-03</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the timestamp for the Request Receipt Date.</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponseDeliveryDateTs" type="irs:TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Response Delivery Date Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-04-03</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the timestamp for the Response Delivery Date.</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceNum" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Sequence Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-11-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Developed a generic sequence number for tax account module freeze, hold and status codes</VersionDescriptionTxt>
					<DescriptionTxt>A system generated sequential number used to complete the identification of this dependent data class</DescriptionTxt>
					<DataElementId>150931</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransmissionAttachmentQty" type="xsd:nonNegativeInteger">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Transmission Attachment Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of attachments included in a single transmission message.</DescriptionTxt>
					<DataElementId>166014</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ===================================== -->
	<!-- ===== Local SDT Element Declarations ===== -->
	<!-- ====================================== -->
	<xsd:simpleType name="BatchCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Category Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is a cummulative list of predetermined values identifying each possible kind of batch processing (List will be updated as new bulk services are implemented).
					</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IRS_EOM_IND_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_IND_RESUBMIT_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_IND_RESUBMIT_BATCH_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Batch Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_IND_RESUBMIT_MISSING_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Missing File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_SHOP_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_SHOP_RESUBMIT_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_SHOP_RESUBMIT_BATCH_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Batch Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_SHOP_RESUBMIT_MISSING_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Missing File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_IND_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of year Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_IND_RESUBMIT_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Year File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_IND_RESUBMIT_BATCH_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Year Batch Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOY_IND_RESUBMIT_MISSING_FILE_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Year Missing File Resubmit Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_APTC_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies APTC Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_IFSV_REQ">
				<xsd:annotation>
					<xsd:documentation>Identifies IFSV Request processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_SUCCESS_RESP">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Success Response processing</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_ERROR_RESP">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Error Response processing </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IRS_EOM_MISSING_FILE_RESP">
				<xsd:annotation>
					<xsd:documentation>Identifies End of Month Missing File Response processing </xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DocumentSystemFileNameType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document System File Name Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A document system file name pattern definition representing “EOM|EOY_Request_xxxxx_yyyyMMddTHHmmssSSSZ.xml</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(EOM|EOY)_Request_(0000[1-9]|000[1-9][0-9]|00[1-9][0-9][0-9]|0[1-9][0-9][0-9][0-9]|[1-9][0-9][0-9][0-9][0-9])_[1-9][0-9]{3}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])T(0[0-9]|1[0-9]|2[0-3])(0[0-9]|[1-5][0-9])(0[0-9]|[1-5][0-9])[0-9]{3}Z\.xml"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ExchangeIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exchange Identification Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A exchange identifier used for all request and response messages in ACA messages exchanges.The CMS Exchange ID will be a part of the MessageID in the SOAP header</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}\.[a-zA-Z]{2}[a-zA-Z*]{1}\.[a-zA-Z0-9]{3}\.[0-9]{3}\.[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FileStatusCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Status Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-28</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code used to indicate the file receving status</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Rejected-Pending-Delivery"/>
			<xsd:enumeration value="Rejected-Delivered-Success"/>
			<xsd:enumeration value="Rejected-Delivered-Exception"/>
			<xsd:enumeration value="Rejected-Delivery-Failed"/>
			<xsd:enumeration value="Delivered-Success"/>
			<xsd:enumeration value="Delivered-Exception"/>
			<xsd:enumeration value="Delivery-Failed"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
