camel-jaxb/src/main/resources/wsdl/ACA_XML_LIBRARY_8.0/MSG/IRS-CDRMonthlyExchangePeriodicDataMessage-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by ﻿IRS (IRS) -->
<!--Sample XML file generated by XMLSpy v2010 rel. 3 sp1 (http://www.altova.com)-->
<xsd:schema xmlns="urn:us:gov:treasury:irs:msg:irscdrmonthlyexchangeperiodicdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:irs="urn:us:gov:treasury:irs:common" xmlns:cdrepd="urn:us:gov:treasury:irs:ext:aca:cdrext" targetNamespace="urn:us:gov:treasury:irs:msg:irscdrmonthlyexchangeperiodicdata" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>IRS Message - CDR Monthly Exchange Periodic Data Report</DictionaryEntryNm>
				<MajorVersionNum>1</MajorVersionNum>
				<MinorVersionNum>1</MinorVersionNum>
				<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>Added DocumentSequenceNum</VersionDescriptionTxt>
				<DescriptionTxt>Message payload for the SOA service for CDR response data</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports ===== -->
	<xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC-8.0.xsd"/>
	<xsd:import namespace="urn:us:gov:treasury:irs:ext:aca:cdrext" schemaLocation="../EXT/IRS-EXT-ACA-CDR-EPD-7.0.xsd"/>
	<!-- ================================== -->
	<!-- ===== Root Element Declarations ===== -->
	<!-- ================================== -->
	<xsd:element name="HealthExchangeDtl" type="HealthExchangeDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Health Exchange Details</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with a periodic data generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ============================== -->
	<!-- ===== Root Type Defintions ===== -->
	<!-- =============================== -->
	<xsd:complexType name="HealthExchangeDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>HealthExchange Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Updated SHOPExchangeGrp</VersionDescriptionTxt>
					<DescriptionTxt>All the elements associated with an exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:SubmissionYr"/>
			<xsd:element ref="irs:SubmissionMonthNum"/>
			<xsd:element ref="irs:ApplicableCoverageYr"/>
			<xsd:element ref="irs:BatchId"/>
			<xsd:element ref="irs:DocumentSequenceNum"/>
			<xsd:element ref="irs:BatchTransmissionQty"/>
			<xsd:choice>
				<xsd:element ref="cdrepd:IndividualExchangeGrp"/>
				<xsd:element ref="cdrepd:SHOPExchangeGrp"/>
			</xsd:choice>
			<xsd:element ref="cdrepd:EPDErrorDetail" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" fixed="1.1"/>
	</xsd:complexType>
</xsd:schema>
