camel-jaxb/src/main/resources/wsdl/ACA_XML_LIBRARY_8.0/MSG/IRS-SubmissionTrackingInfoMessage-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 rel. 3 sp1 (http://www.altova.com)-->
<xsd:schema xmlns="urn:us:gov:treasury:irs:msg:submissiontrackinginfo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:irs="urn:us:gov:treasury:irs:common" targetNamespace="urn:us:gov:treasury:irs:msg:submissiontrackinginfo" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>IRS Message - ACA Monthly Submission Tracking Informaion Message</DictionaryEntryNm>
				<MajorVersionNum>1</MajorVersionNum>
				<MinorVersionNum>0</MinorVersionNum>
				<VersionEffectiveBeginDt/>
				<VersionDescriptionTxt>Updated the cardinality of SubmissionTrackingDtl elements</VersionDescriptionTxt>
				<DescriptionTxt>Message payload for the SOA service obtaining submission tracking data</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Imports ===== -->
	<xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC-8.0.xsd"/>
	<!-- ================================== -->
	<!-- ===== Root Element Declarations ===== -->
	<!-- ================================== -->
	<xsd:element name="SubmissionTracking" type="SubmissionTrackingType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Tracking</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-28</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with a periodic data generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionTrackingDtl" type="SubmissionTrackingDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Tracking Detail</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with a submission tracking </DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ============================== -->
	<!-- ===== Root Type Defintions ===== -->
	<!-- =============================== -->
	<xsd:complexType name="SubmissionTrackingType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Tracking Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-10-28</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:TrackingStartDt"/>
			<xsd:element ref="irs:TrackingEndDt"/>
			<xsd:element ref="SubmissionTrackingDtl" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" fixed="1.0"/>
	</xsd:complexType>
	<xsd:complexType name="SubmissionTrackingDtlType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Tracking Detail Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-07-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The elements associated with submission tracking on exchange generated monthly report</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="irs:EPDSubmissionSourceCd"/>
			<xsd:element ref="irs:HealthExchangeId"/>
			<xsd:element ref="irs:BatchId"/>
			<xsd:element ref="irs:SubmissionYr" minOccurs="0"/>
			<xsd:element ref="irs:SubmissionMonthNum" minOccurs="0"/>
			<xsd:element ref="irs:ApplicableCoverageYr" minOccurs="0"/>
			<xsd:element ref="irs:SubmissionTotalNumOfFilesQty"/>
			<xsd:element ref="irs:SubmissionProcessedFilesNum"/>
			<xsd:element ref="irs:SubmissionInProcessFilesNum"/>
			<xsd:element ref="irs:SubmissionMissingFilesNum"/>
			<xsd:element ref="irs:RejectedFileOrigSubmissionNum"/>
			<xsd:element ref="irs:TotalNumOfRejectedFilesQty"/>
			<xsd:element ref="irs:ReplacingRejectedFilesNum"/>
			<xsd:element ref="irs:FilesReceivingStartDt"/>
			<xsd:element ref="irs:FilesReceivingEndDt" minOccurs="0"/>
			<xsd:element ref="irs:RejectedFileDtl" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
