camel-jaxb/src/main/resources/addnumbers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AddNumbers"  targetNamespace="example" xmlns:tns="http://example.com/"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"    
    >
	<wsdl:types>
            <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="venu">

                <xsd:complexType name="addNumbersResponse">
                    <swsdl:equence>
                        <element name="return" type="xsd:int" />
                    </sequence>
                </complexType>
                <element name="addNumbersResponse" type="tns:addNumbersResponse" />
                <element name="addNumbers2Response" type="tns:addNumbersResponse" />

                <complexType name="addNumbers">
                    <sequence>
                        <element name="number1" type="xsd:int" />
                        <element name="number2" type="xsd:int" />
                    </sequence>
                </complexType>
                <element name="addNumbers" type="tns:addNumbers" />
                <element name="addNumbers2" type="tns:addNumbers" />

                <element name="AddNumbersFault" type="tns:AddNumbersFault" />
                <complexType name="AddNumbersFault">
                    <sequence>
                        <element name="detail" type="xsd:string" />
                        <element name="message" type="xsd:string" />
                    </sequence>
                </complexType>
            </xsd:schema>
	</wsdl:types>
	<message name="addNumbers">
            <part name="parameters" element="tns:addNumbers" />
	</message>
	<message name="addNumbersResponse">
            <part name="result" element="tns:addNumbersResponse" />
	</message>
	<message name="addNumbersFault">
            <part name="AddNumbersFault" element="tns:AddNumbersFault" />
	</message>
	<message name="addNumbers2">
            <part name="parameters" element="tns:addNumbers2" />
	</message>
	<message name="addNumbers2Response">
            <part name="result" element="tns:addNumbers2Response" />
	</message>
	
	<wsdl:portType name="AddNumbersPortType">
            <wsdl:operation name="addNumbers">
                <wsdl:input message="tns:addNumbers"/>
                <wsdl:output message="tns:addNumbersResponse"/>
                <wsdl:fault name="addNumbersFault" message="tns:addNumbersFault"/>
            </wsdl:operation>
            <wsdl:operation name="addNumbers2">
                <wsdl:input message="tns:addNumbers2" name="add2In"/>
                <wsdl:output message="tns:addNumbers2Response" name="add2Out"/>
                <wsdl:fault name="addNumbersFault" message="tns:addNumbersFault"/>
            </wsdl:operation>
           
	</wsdl:portType>
	<wsdl:binding name="AddNumbersBinding" type="tns:AddNumbersPortType">
            <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
            <wsdl:operation name="addNumbers">
                <soap:operation soapAction="" />
                <wsdl:input>
                    <soap:body use="literal" />
                </wsdl:input>
                <wsdl:output>
                    <soap:body use="literal" />
                </wsdl:output>
                <wsdl:fault name="addNumbersFault">
                    <soap:fault name="addNumbersFault" use="literal" />
                </wsdl:fault>
            </wsdl:operation>
            <wsdl:operation name="addNumbers2">
                <soap:operation soapAction="" />
                <wsdl:input>
                    <soap:body use="literal" />
                </wsdl:input>
                <wsdl:output>
                    <soap:body use="literal" />
                </wsdl:output>
                <wsdl:fault name="addNumbersFault">
                    <soap:fault name="addNumbersFault" use="literal" />
                </wsdl:fault>
            </wsdl:operation>
           
	</wsdl:binding>
	<wsdl:service name="AddNumbersService">
            <wsdl:port name="AddNumbersPort" binding="tns:AddNumbersBinding">
                <soap:address location="http://localhost:80" />
            </wsdl:port>
	</wsdl:service>
</wsdl:definitions>