camel-jaxb/src/main/resources/wsdl/ACA_XML_LIBRARY_8.0/COMMON/IRS-CBC-8.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by ﻿IRS (IRS) -->
<xsd:schema xmlns="urn:us:gov:treasury:irs:common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="urn:us:gov:treasury:irs:common" elementFormDefault="qualified" attributeFormDefault="unqualified" version="8.0">
	<xsd:annotation>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>IRS Common Basic Components</DictionaryEntryNm>
				<MajorVersionNum>8</MajorVersionNum>
				<MinorVersionNum>0</MinorVersionNum>
				<VersionEffectiveBeginDt>2013-03-07</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>upgrade to current BASELINE  8.0</VersionDescriptionTxt>
				<DescriptionTxt>Common Basic Components created with IRS design and validation principles</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ===== Includes / Imports ===== -->
	<xsd:include schemaLocation="../COMMON/IRS-SDT-8.0.xsd"/>
	<!-- ===== Element Declarations ===== -->
	<xsd:element name="ACABusinessCorrelationId" type="ACABusinessCorrelationIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>ACA (Affordable Care Act) Business Correlation Identification</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-11</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A business correlation identifier used for all request and response messages in ACA messages exchanges.</DescriptionTxt>
					<DataElementId>163258</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AcknowledgementStatusCd" type="AcknowledgementStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Acknowledgement Status Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-11</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A code used to indicate the status of an acknowledgement.</DescriptionTxt>
					<DataElementId>163257</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine1Txt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Address Line 1 Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The first line of text used in a street address</DescriptionTxt>
					<DataElementId>163410</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressLine2Txt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Address Line 2 Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The second line of text used in a street address</DescriptionTxt>
					<DataElementId>163411</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ApplicableCoverageYr" type="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Applicable Coverage Year</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The applicable coverage year of the policy</DescriptionTxt>
					<DataElementId>173916</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ApplicableCoverageMonthNum" type="MonthNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Applicable Coverage Month Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The applicable coverage month of the policy</DescriptionTxt>
					<DataElementId>173917</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="APTCorCSREligibilityDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>APTC EligibilityDate </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date individual was determined eligible by the Exchange for a APTC/CSR</DescriptionTxt>
					<DataElementId>173918</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="APTCPaymentAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>APTC Payment Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>APTC payment made to issuer on behalf of tax filer associated with the policy on a monthly basis within the calendar year</DescriptionTxt>
					<DataElementId>173919</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AttachmentByteSizeNum" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Attachment Byte Size Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A size of a binary object (attachment) in bytes.</DescriptionTxt>
					<DataElementId>166001</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AuthorizationStatusInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Authorization Status Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-12-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An indicator showing the authorization status (Y or N).</DescriptionTxt>
					<DataElementId>173980</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchAttachmentTransmissionQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Attachment Transmission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of total number of attachments in a batch submission (across all transmissions).</DescriptionTxt>
					<DataElementId>166002</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchCategoryCd" type="BatchCategoryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Category Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The kind of batch submission, a cummulative list of predetermined values identifying each possible kind of batch processing (IRS_EOM_REQ, IRS_EOY_REQ, IRS_EOM_RESP, and IRS_EOY_RESP).</DescriptionTxt>
					<DataElementId>166003</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchId" type="TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a batch submission used to identify multiples submissions of the same set of files that make up the report submittal or redetermination bulk submittal (The BatchId would be repeated for split submissions).</DescriptionTxt>
					<DataElementId>166004</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchPartnerId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Partner Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a participant in the Health Insurance Exchange Ecosystem. Expected to be duplication of Partner ID provided inside attached file to identify which Partner has submitted a report/request.</DescriptionTxt>
					<DataElementId>166005</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BatchTransmissionQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Transmission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of transmissions in a batch submission. The total number of submissions required to complete the report submittal due to files being split to meet max file size.</DescriptionTxt>
					<DataElementId>166006</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryFormatCd" type="BinaryFormatCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Binary Format Code </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a file format of content type of a binary object. Extensible Markup Language (XML) is the only accepted type at this time.</DescriptionTxt>
					<DataElementId>166010</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BirthDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Birth Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-08-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Person's Date of Birth information</DescriptionTxt>
					<DataElementId>140881</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BRMGatewayStatusCd" type="BRMGatewayStatusCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>BRM Gateway Status Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is a code used to indicate the status of the BRM Gateway.</DescriptionTxt>
					<DataElementId>163348</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BusinessNameLine1" type="BusinessNameLine1Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Line 1</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Typically used for a business name. Legal Characters: A-Z, a-z, 0-9, hash, hyphen, parentheses, ampersand, apostrophe and single space. Illegal Character: leading space, trailing space, adjacent spaces, and other symbols</DescriptionTxt>
					<DataElementID>150191</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BusinessNameLine2" type="BusinessNameLine2Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Business Name Line 2 </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Typically used for line 2 of a business name. Legal Characters: A-Z, a-z, 0-9, hash, slash, percent, hyphen, parentheses, ampersand, apostrophe and single space. Illegal Character: leading space, trailing space, adjacent spaces, and other symbols.</DescriptionTxt>
					<DataElementID>150192</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BulkExchangeFile" type="xsd:base64Binary" xmime:expectedContentTypes="*/*">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Bulk Exchange File</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-10</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>This is a file used for exchange of ACA bulk information</DescriptionTxt>
					<DataElementId>163256</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CityNm" type="CityType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>CityName </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-22</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A city name </DescriptionTxt>
					<DataElementId>163440</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChecksumAugmentationNum" type="MD5Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Checksum Augmentation Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An MD5 Checksum value provided by Requestors and IRS for Hub to verify the size of file received is the same as the size transmitted.</DescriptionTxt>
					<DataElementId>166011</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ChunkId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Chunk Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for chunk</DescriptionTxt>
					<DataElementId>173920</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryCd" type="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Country Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2006-03-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ELDM 3.1  (mapped to ELDM 5.1, 11/27/2007)</VersionDescriptionTxt>
					<DescriptionTxt>The name of a nation or state recognized by international postal authorities for delivery of mail - without list of enumerations.</DescriptionTxt>
					<DataElementId>150297</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CountryName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Name Of Country Or United Sates (US) Posession</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Name of country or US posession </DescriptionTxt>
					<DataElementId>156328</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CoverageStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Coverage Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that coverage starts for those listed on the qualified health plan selected by the employee</DescriptionTxt>
					<DataElementID>173921</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CoverageEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Coverage End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that coverage ends for those listed on the qualified health plan selected by the employee</DescriptionTxt>
					<DataElementID>173922</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSequenceNum" type="DocumentSequenceNumType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document Sequence Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-30</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Developed a generic sequence number for document</VersionDescriptionTxt>
					<DescriptionTxt>A system generated sequential number used to complete the identification of the submitted document </DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSystemFileNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Document System File Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-09-02</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>AMS R 2.1</VersionDescriptionTxt>
					<DescriptionTxt>The filename of a document in a file system.</DescriptionTxt>
					<DataElementID>151498</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EIN" type="EINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer EIN</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Employer  Identification No. - 9 digits</DescriptionTxt>
					<DataElementId>120596</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerQHPPremiumContriPct" type="Percentage100Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Qualified Health Plan (QHP) Premium Contribution Percentage</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Percentage of the premium amount paid by employer within the calendar year</DescriptionTxt>
					<DataElementId>173923</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerQHPPremiumContriAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Qualified Health Plan (QHP) Premium Paid Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The premium amount paid by employer within the calendar year</DescriptionTxt>
					<DataElementId>162417</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerQHPCoverageStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Qualified Health Plan (QHP) Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date that Employer begins offering coverage through the SHOP Exchange</DescriptionTxt>
					<DataElementId>173924</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployerQHPCoverageTermDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employer Qualified Health Plan (QHP) Termination Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date the Employer stops offering coverage through the SHOP Exchange</DescriptionTxt>
					<DataElementId>173925</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EmployeeQHPShareOfPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Employee Qualified Health Plan (QHP) Share Of Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The monthly dollar amount the employee would pay for the plan offered by their employer within the calendar year</DescriptionTxt>
					<DataElementId>173926</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EPDSubmissionSourceCd" type="EPDSubmissionSourceCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exchange Periodic Data Submission Source Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Indicator to describe the source of the EPD data (Individual vs. SHOP)</DescriptionTxt>
					<DataElementId>173927</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorMessageCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Error Message Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code that identifies a type of error</DescriptionTxt>
					<DataElementId>162437</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorMessageTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Error Message Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Contains text describing an error message</DescriptionTxt>
					<DataElementId>162438</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ErrorValueTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Error Value Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Value of the data element that caused the error</DescriptionTxt>
					<DataElementId>173928</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExemptionCertificateNum" type="ExemptionCertificateNumType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Exemption Certificate Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Certificate Number that may include: Combination of Coverage Year, months covered, Exemption Reason Code, number of individuals it applies to, Unique Identifier.</DescriptionTxt>
					<DataElementID>163195</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>EPD file name</DescriptionTxt>
					<DataElementId>173929</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileStatusTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Status Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-08-13</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Text that indicates the file delivery status</DescriptionTxt>
					<DataElementId>173930</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileStatusCd" type="FileStatusCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Status Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Code that indicates the file delivery status</DescriptionTxt>
					<DataElementId>174143</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilesReceivingStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Files Receiving Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that the first file of a submission was provided</DescriptionTxt>
					<DataElementID>173906</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FilesReceivingEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Files Receiving End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that the last file of a submission was provided including replacement files</DescriptionTxt>
					<DataElementID>173907</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileProcessingStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Processing Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Start date of the submission processing </DescriptionTxt>
					<DataElementID>173905</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileProcessingEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Processing End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-07-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that submission processing ends</DescriptionTxt>
					<DataElementID>173904</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ForeignPostalCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Foreign Postal Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The foreign postal code</DescriptionTxt>
					<DataElementId>163480</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ForeignProvinceNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Foreign Province Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-10-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The foreign province name</DescriptionTxt>
					<DataElementId>163479</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HealthExchangeId" type="ExchangeIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Health Exhange Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Unique ID number for the Health Exchange</DescriptionTxt>
					<DataElementID>163202</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="HouseholdAPTCAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Household Advanced Payment Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Household APTC payment made to issuer on behalf of tax filer associated with the policy on a monthly basis within the calendar year</DescriptionTxt>
					<DataElementId>173931</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IndividualSHOPInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Individual SHOP Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-08-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An indicator for the Individual SHOP (Y or N).</DescriptionTxt>
					<DataElementId>173985</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="InternalDocumentSystemFileNm" type="InternalDocumentSystemFileNameType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Internal Document System File Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>20013-09-02</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The filename of a internal document in a file system.</DescriptionTxt>
					<DataElementID/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IssuerNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Issuer Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>1</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-08-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Spreadsheet Mappings
				   </VersionDescriptionTxt>
					<DescriptionTxt>Issuer Name</DescriptionTxt>
					<DataElementId>120226</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IRSGroupIdentificationNum" type="String16Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>IRS Group Identification Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-05-17</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A unique identifier for IRS Group that includes the associated tax households, covered individuals, insurance policies, and / or exemptions.</DescriptionTxt>
					<DataElementID>173932</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LastUpdatedTs" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Last Updated Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-12</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Last updated timestamp</DescriptionTxt>
					<DataElementId>163364</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LowestCostPlanPolicyPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Lowest Cost Plan Policy Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The premium (dollar amount) for the plan that offers the lowest cost</DescriptionTxt>
					<DataElementID>162420</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MECStatusInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>MEC StatusCode</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-03</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>A code that respresent the MEC (Minimum Essential Coverage) status</DescriptionTxt>
					<DataElementId>163157</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Message Identifier </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-11-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>New for SOAP header 2.0</VersionDescriptionTxt>
					<DescriptionTxt>Unique ID number of the message; this number is generated by the system generating the message</DescriptionTxt>
					<DataElementId>150653</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageSourceSystemNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Message Source System Name </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-11-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>New for SOAP header 2.0</VersionDescriptionTxt>
					<DescriptionTxt>Name of the system that generated the message</DescriptionTxt>
					<DataElementId>150654</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MissingDocumentSequenceNum" type="SequenceNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Missing Document Sequence Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Intial version</VersionDescriptionTxt>
					<DescriptionTxt>A system generated sequential number used to identify a missing document.</DescriptionTxt>
					<DataElementId>173951</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthsExemptStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Months Exempt Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date individual exemption will start</DescriptionTxt>
					<DataElementId>173933</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthsExemptEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Months Exempt End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date individual exemption will end</DescriptionTxt>
					<DataElementId>173934</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MonthsOfferedCoverageInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Months Offered Coverage Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Yes/No indicator whether an employee on the roster is being offered coverage by the employer</DescriptionTxt>
					<DataElementId>173935</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="NotifyCMSInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Notify CMS Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-11-12</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Indicator to send a file rejection notification to originator(ESB will use this element to notify BRMG whether a file rejection notification should go to CMS)</DescriptionTxt>
					<DataElementId>174199</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalBatchId" type="TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Original Batch Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An identifier for a original batch submission used to identify multiples submissions of the same set of files that make up the report submittal or redetermination bulk submittal</DescriptionTxt>
					<DataElementId>174151</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalBatchIdPresenceInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Original Batch Id Presence Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-08-23</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>An indicator showing the presence of the Original Batch Id (Y or N).</DescriptionTxt>
					<DataElementId>173984</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonFirstName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person First Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-12-12</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The First name of a person</DescriptionTxt>
					<DataElementId>150797</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonLastName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person Last Name </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-12-12</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The last name of a person</DescriptionTxt>
					<DataElementId>150799</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonMiddleName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Person Middle Name </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-12-12</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The middle name of a person</DescriptionTxt>
					<DataElementId>164084</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PediatricDentalPlanPremiumInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Pediatric Dental Plan Premium Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-26</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Indicator for the QHP’s Total Monthly Premium Amount includes Pediatric Dental
</DescriptionTxt>
					<DataElementId>173936</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PolicyCoverageStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Policy Coverage Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that coverage starts for those listed on the qualified health plan selected by the employee</DescriptionTxt>
					<DataElementID>173937</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PolicyCoverageEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Policy Coverage End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date that coverage ends for those listed on the qualified health plan selected by the employee</DescriptionTxt>
					<DataElementID>173938</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QHPEligibilityDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Qualified Health Plan (QHP) Eligibility Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Date individual was determined eligible by the Exchange for a APTC/CSR</DescriptionTxt>
					<DataElementId>173939</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QHPFamilyOrIndivCoverageCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Qalified Health Plan Family Or Individual Coverage Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A code that identifies if the qualified health plan covers only the individual or allows for family coverage</DescriptionTxt>
					<DataElementID>162423</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QHPPolicyNum" type="String50Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Qualified Health Plan (QHP) Policy Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-04-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The policy number of the qualified health plan selected by an employee</DescriptionTxt>
					<DataElementID>163964</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QHPIssuerEIN" type="EINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Qualified Health Plan (QHP) Issuer Employer Identification Number (EIN)</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>The employer identification number (EIN) of the qualified healt plan issuer</DescriptionTxt>
					<DataElementId>162424</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RejectedFileOrigSubmissionNum" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Rejected File Original Submission Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-08-28</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Number of files rejected when a rejection conditions are met</DescriptionTxt>
					<DataElementId>173986</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ReplacingRejectedFilesNum" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Replacing Rejected Files Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Number of replaced files based on the rejected original submission(Files replacing rejected files)</DescriptionTxt>
					<DataElementId>173903</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponseCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Respone Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Short description of response code</DescriptionTxt>
					<DataElementId>163218</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ResponseCodeDescription" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Respone Code Description</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Long description of response code</DescriptionTxt>
					<DataElementId>163219</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SequenceNum" type="SequenceNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Sequence Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-11-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Developed a generic sequence number for tax account module freeze, hold and status codes</VersionDescriptionTxt>
					<DescriptionTxt>A system generated sequential number used to complete the identification of this dependent data class</DescriptionTxt>
					<DataElementId>150931</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the service name.</DescriptionTxt>
					<DataElementId>173981</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceVersionNum" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Version Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the service version number.</DescriptionTxt>
					<DataElementId>173982</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceWindowCloseInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Window Close Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This indicates if the service window is open or closed (Y or N).</DescriptionTxt>
					<DataElementId>173983</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceRequestFileId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Request File Identification</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the file identification within a service request.</DescriptionTxt>
					<DataElementId>163337</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceRequestFileNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Request File Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the file name within a service request.</DescriptionTxt>
					<DataElementId>163338</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceResponseFileNm" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Response File Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the file name within a service response.</DescriptionTxt>
					<DataElementId>163347</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceRequestFileLocationTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Request File Location Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the file location information associated with the file within the service request.</DescriptionTxt>
					<DataElementId>163339</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceResponseFileLocationTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Response File Location Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the file location information associated with the file within the service response.</DescriptionTxt>
					<DataElementId>163346</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceRequestFileSizeTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Request File Size Text</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the size of the file within a service request.</DescriptionTxt>
					<DataElementId>163340</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceRequestCreatedTs" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Request Created Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the timestamp of when the service request was created.</DescriptionTxt>
					<DataElementId>163342</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceRequestReceivedTs" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Request Received Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the timestamp associated with the receipt of the service request.</DescriptionTxt>
					<DataElementId>163341</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceResponseFileSentTs" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Response File Sent Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the timestamp of when the file within the service response was sent.</DescriptionTxt>
					<DataElementId>163345</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceRequestTotalRecordCnt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Request Totol Record Count</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the total record count associated with the file in the service request.</DescriptionTxt>
					<DataElementId>163343</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceResponseFileCreatedTs" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Response File Created Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-09-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>This is the timestamp of when the file in the service response was created.</DescriptionTxt>
					<DataElementId>163344</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ServiceExecutionStatusDescriptionTxt" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Service Execution Status Description Text </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2007-02-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Version 1.0</VersionDescriptionTxt>
					<DescriptionTxt>The status description corresponding to the status of the execution of an SBA service</DescriptionTxt>
					<DataElementID>150934</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SHOPIdentificationNum" type="ExchangeIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Small Businesses Health Options Program (SHOP) Identification Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The identifier for the specific Small Businesses Health Options Program (SHOP). This is sent from the SHOP</DescriptionTxt>
					<DataElementID>162426</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SSN" type="SSNType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>SSN </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for Social Security No. - 9 digits</DescriptionTxt>
					<DataElementID>119039</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SLCSPAdjMonthlyPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Second Lowest Cost Silver Plan (SLCSP) Adjusted Monthly Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-08-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The adjusted amount of the monthly premium for the Second Lowest Cost Silver Plan (SLCSP)</DescriptionTxt>
					<DataElementId>162310</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SuffixName" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Suffix Name</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2006-03-31</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ELDM 3.1</VersionDescriptionTxt>
					<DescriptionTxt>A suffix used in a parson's name.Examples include Jr., Sr., etc.</DescriptionTxt>
					<DataElementID>163507</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionMonthNum" type="MonthNumberType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Month Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Month in which exchange report is submitted</DescriptionTxt>
					<DataElementId>173940</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionProcessedFilesNum" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Processed Files Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-24</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Number of non-rejected files processed by IS for TIN,Schema and Business Rules Validations
</DescriptionTxt>
					<DataElementId>173683</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionInProcessFilesNum" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission In Process Files Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-07-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Number of submission files In-process(Files received but not completed processing)
</DescriptionTxt>
					<DataElementId>173902</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionMissingFilesNum" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Missing Files Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-24</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Number of Missing Files,at the time the data provided to CDR is generated, based on the expected number of files indicated by the originating exchange in the message header less the number of files received by IS (Number of Processed Files + Number of Rejected Files)
</DescriptionTxt>
					<DataElementId>173681</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionRejectedFilesNum" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Rejected Files Number</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-24</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Number of files rejected based on the identified conditions where the files content is deemed unusable</DescriptionTxt>
					<DataElementId>173682</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionYr" type="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Year</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-08-25</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The year in which exchange report is submitted.</DescriptionTxt>
					<DataElementId>173941</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionValidationCd" type="SubmissionValidationCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Validation Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2009-10-29</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Baseline 7.0</VersionDescriptionTxt>
					<DescriptionTxt>The form(s) submission status type code</DescriptionTxt>
					<DataElementId>174144</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionRejectReasonCd" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Reject Reason Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A reason code for why a submission was rejected.</DescriptionTxt>
					<DataElementId>163501</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubmissionTotalNumOfFilesQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Submission Total Number Of Files Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-24</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Total number of files included in a single submission</DescriptionTxt>
					<DataElementId>173680</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SystemDocumentId" type="SystemIdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>System Document Identifier</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-07-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>AMS R 2.1</VersionDescriptionTxt>
					<DescriptionTxt>A system generated number that uniquely identifies a document</DescriptionTxt>
					<DataElementId>152664</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxpayerValidityCd" type="TaxpayerValidityCodeType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Identification Number Validity Type Code </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-06-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>ELDM 3.1 (mapped to ELDM 5.1, 11/27/2007)</VersionDescriptionTxt>
					<DescriptionTxt>New Mapping to ELDM: Validity Digit Text which only applies to SSNs (which can be valid or invalid), but also placeholder for EIN, AIMS and CAF representative number status values</DescriptionTxt>
					<DataElementId>151041</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TIN" type="TINType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>TIN (Taxpayer Identification Number) </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2011-03-21</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Taxpayer Identification Number (TIN) </DescriptionTxt>
					<DataElementId>162837</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TINValidationInd" type="TINValidationIndicatorType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>TIN (Taxpayer Identification Number) Validation Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The TIN (Taxpayer Identification Number) validation indicator.</DescriptionTxt>
					<DataElementId>173942</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Timestamp" type="TimestampType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Timestamp </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2008-01-08</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>EFileTypes, December 14, 2007</VersionDescriptionTxt>
					<DescriptionTxt>Base type for a date and time stamp - Timezone portion is required and fractional seconds are prohibited</DescriptionTxt>
					<DataElementId>151060</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransmissionAttachmentQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Batch Transmission Attachment Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of attachments included in a single transmission message.</DescriptionTxt>
					<DataElementId>166014</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalFilesSubmissionQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Total Files Submission Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-06-19</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A count of the number of EPD files submitted</DescriptionTxt>
					<DataElementID>173945</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalHsldMonthlyPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Total Household Monthly Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Total monthly premium amounts for coverage without regard for APTC payments or cost sharing reductions within the calendar year for a household.</DescriptionTxt>
					<DataElementID>173943</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalQHPMonthlyPremiumAmt" type="AmountType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Total Qualified Health Plan Monthly Premium Amount</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-01-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Total qualified health plan premium amount within the calendar year for a household.</DescriptionTxt>
					<DataElementID>173944</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalNumOfRejectedFilesQty" type="xsd:integer">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Total Number of Rejected Files Quantity</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-08-28</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Total number of files rejected including any replacement files.</DescriptionTxt>
					<DataElementId>173987</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TrackingStartDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Tracking Start Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-08-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The submission tracking start date.</DescriptionTxt>
					<DataElementID>173946</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TrackingEndDt" type="DateType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Tracking End Date</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-08-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The submission tracking end date.</DescriptionTxt>
					<DataElementID>173947</DataElementID>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UserId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>User Identification </DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2006-03-15</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Security Context Header -  SOAP/HTTP Secure Messaging Requirement</VersionDescriptionTxt>
					<DescriptionTxt>User SiteMinder Session ID</DescriptionTxt>
					<DataElementId>151097</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="USStateCd" type="USStateCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>State Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-01-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt> INitial Version</VersionDescriptionTxt>
					<DescriptionTxt>One of the 50 states of the United States and DC.</DescriptionTxt>
					<DataElementId>173948</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="USZIPCd" type="USZIPCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>United States ZIP Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A 5 digit number assigned by the United States Postal Service used to designate sectional center and delivery area for mail distribution.</DescriptionTxt>
					<DataElementId>173949</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="USZIPExtensionCd" type="USZIPExtensionCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>United States ZIP Extension Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-03-05</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>A 4 digit number assigned by the United States Postal Service (USPS) used to designate sectors and segments for mail distribution.  The ZIP Code and this ZIP Plus Four Extension Code together constitute the USPS "ZIP + 4" code.  "ZIP + 4" is a USPS trademark.  Examples include the "1312" of the 9 digit Zip Code "22153-1312".</DescriptionTxt>
					<DataElementId>173950</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ValidExchangeInd" type="BooleanStringType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Valid Exchange Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2013-10-30</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Indicates whether or not this is a valid exchange</DescriptionTxt>
					<DataElementId/>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="XpathContent" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Xpath Content</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2012-11-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Contains the Xpath identifying a specific element</DescriptionTxt>
					<DataElementId>163225</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Year" type="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Year</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>1/1/2010</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>MeF R7, Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Year identifer</DescriptionTxt>
					<DataElementId>153894</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="YearMonth" type="xsd:gYearMonth">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Year Month</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>1/1/2010</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>The date format of YYYY-MM.</DescriptionTxt>
					<DataElementId>166015</DataElementId>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
