camel-jaxb/src/main/resources/wsdl/ACA_XML_LIBRARY_8.0/SRV/IRS-VerifyExchangeService-1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns="urn:us:gov:treasury:irs:srv:verifyexchange" 
name="VerifyExchangeService-1.0" 
targetNamespace="urn:us:gov:treasury:irs:srv:verifyexchange"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:irsMSG="urn:us:gov:treasury:irs:msg:verifyexchange" 
xmlns:irs="urn:us:gov:treasury:irs:common" 
xmlns:irsHDR="urn:us:gov:treasury:irs:msg:acabusinessheader" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"> 

    <wsdl:documentation>
		<WSDLComponent>
			<DescriptionAndSemantics>This service will verify the Exchange</DescriptionAndSemantics>
			<Provider>Example Provider</Provider>
			<EndPointInformation/>
			<ChannelsSupported/>
			<Operator/>
			<AvailabilityInformation/>
			<CapacityInformation/>
			<PolicyGuardImplementation/>
			<AccessControl/>
			<Dependency/>
			<ChargeBackInformation/>
			<ProvisioningInformation/>
			<Consumers>Example Consumer</Consumers>
		</WSDLComponent>
		<Component>
			<DictionaryEntryNm>Verify Exchange Service</DictionaryEntryNm>
			<MajorVersionNum>1</MajorVersionNum>
			<MinorVersionNum>0</MinorVersionNum>
			<VersionEffectiveBeginDt>2012-09-14</VersionEffectiveBeginDt>
			<VersionDescriptionTxt>version: ACA EPD XML LIBRARY 8.0 as of 05072014</VersionDescriptionTxt>
			<DescriptionTxt>WSDL Definition: This service will verify exchange</DescriptionTxt>
		</Component>
	</wsdl:documentation>
	
  <!--==== Types ==== -->
  <wsdl:types>
    <xsd:schema>  
	  <xsd:import namespace="urn:us:gov:treasury:irs:msg:acabusinessheader" schemaLocation="../MSG/HHS-IRS-ACABusinessHeaderMessage-1.0.xsd"/>
	  <xsd:import namespace="urn:us:gov:treasury:irs:msg:verifyexchange" schemaLocation="../MSG/IRS-VerifyExchangeMessage-1.0.xsd"/>
	  <xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC-8.0.xsd">
	  </xsd:import>
	 </xsd:schema>   
  </wsdl:types>    
   
  <!--==== Messages ==== -->
   	<wsdl:message name="Fault">
		<wsdl:part name="fault" element="irs:ErrorMessageDetail"/>
	</wsdl:message>
    <wsdl:message name="VerifyExchangeRequest">
    <wsdl:part name="VerifyExchangeRequest" element="irsMSG:VerifyExchangeRequest"/>
  </wsdl:message>
  <wsdl:message name="VerifyExchangeResponse">
    <wsdl:part name="VerifyExchangeResponse" element="irsMSG:VerifyExchangeResponse"/>
  </wsdl:message>
   <wsdl:message name="ACABusinessHeader">
  		<wsdl:part name="ACABusinessHeader" element="irsHDR:ACABusinessHeader" /> 
  </wsdl:message>  
  
  <!--==== Port Type ==== -->
  <wsdl:portType name="VerifyExchangePort">
    <wsdl:operation name="VerifyExchange">
         <wsdl:input message="VerifyExchangeRequest"/>
         <wsdl:output message="VerifyExchangeResponse"/>
         <wsdl:fault name="fault" message="Fault"/>
    </wsdl:operation>    
  </wsdl:portType>
  
    <!--==== Binding ==== -->
    <wsdl:binding name="VerifyExchangeBinding" type="VerifyExchangePort">
    <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>    
        <wsdl:operation name="VerifyExchange">
		 <soapbind:operation soapAction="VerifyExchange"/>
		    <wsdl:input>    
		    	<soapbind:header message="ACABusinessHeader" part="ACABusinessHeader" use="literal"/>  	
				<soapbind:body parts = "VerifyExchangeRequest" use="literal"/>
            </wsdl:input>
            <wsdl:output>
				<soapbind:body parts = "VerifyExchangeResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
			   <soapbind:fault name="fault" use="literal"/>
			</wsdl:fault>    
        </wsdl:operation>    
    </wsdl:binding>
  
  <!--==== Service ==== -->
  <wsdl:service name="VerifyExchangeService">
    <wsdl:port binding="VerifyExchangeBinding" name="VerifyExchangePort">
      <soapbind:address location="https://localhost:10501/ws/IRSACAEPD.communication.verifyExchange/VerifyExchangePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>