camel-jaxb/src/main/resources/wsdl/ACA_XML_LIBRARY_8.0/SRV/IRS-BulkFileProcessingNotificationESBService-1.0.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
				  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
				  xmlns:irs="urn:us:gov:treasury:irs:common" 
				  xmlns:irsHDR="urn:us:gov:treasury:irs:msg:acabusinessheader" 
				  xmlns:irsMSG="urn:us:gov:treasury:irs:msg:bulkfileprocessingnotification"
				  xmlns:isrepd="urn:us:gov:treasury:irs:ext:aca:isr:4.0"
				  xmlns="urn:us:gov:treasury:irs:srv:bulkfileprocessingnotification"
				  xmlns:wsp="http://www.w3.org/ns/ws-policy" 
				  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
				  xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" 
				  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
				  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
				  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
				  xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
				  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"  
				  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				  name="BulkFileProcessingNotificationService-1.0" 
				  targetNamespace="urn:us:gov:treasury:irs:srv:bulkfileprocessingnotification"> 		  
	<wsdl:documentation>
	<WSDLComponent>
			<DescriptionAndSemantics>This service will..</DescriptionAndSemantics>
			<Provider>Example Provider</Provider>
			<EndPointInformation/>
			<ChannelsSupported/>
			<Operator/>
			<AvailabilityInformation/>
			<CapacityInformation/>
			<PolicyGuardImplementation/>
			<AccessControl/>
			<Dependency/>
			<ChargeBackInformation/>
			<ProvisioningInformation/>
			<Consumers>Example Consumer</Consumers>
		</WSDLComponent>
		<Component>
			<DictionaryEntryNm>Bulk File Processing Notification Service</DictionaryEntryNm>
			<MajorVersionNum>1</MajorVersionNum>
			<MinorVersionNum>0</MinorVersionNum>
			<VersionEffectiveBeginDt>2012-09-14</VersionEffectiveBeginDt>
			<VersionDescriptionTxt>version: ACA EPD XML LIBRARY 8.0 as of 05072014</VersionDescriptionTxt>
			<DescriptionTxt>WSDL Definition: This service will process a bulk file and send a notification response</DescriptionTxt>
		</Component>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:us:gov:treasury:irs:msg:bulkfileprocessingnotification" schemaLocation="../MSG/IRS-BulkFileProcessingNotificationMessage-1.0.xsd"/>
			<xsd:import namespace="urn:us:gov:treasury:irs:msg:acabusinessheader" schemaLocation="../MSG/HHS-IRS-ACABusinessHeaderMessage-1.0.xsd"/>
			<xsd:import namespace="urn:us:gov:treasury:irs:ext:aca:isr:4.0" schemaLocation="../EXT/IRS-EXT-ACA-ISR-4.0.xsd"/>
			<xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC-8.0.xsd"/>			
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="Fault">
		<wsdl:part name="fault" element="irs:ErrorMessageDetail"/>
	</wsdl:message>
	<wsdl:message name="BulkFileProcessingNotificationRequest">
	</wsdl:message>	
	<wsdl:message name="BulkFileProcessingNotificationResponse">
		<wsdl:part name="BulkFileProcessingNotificationResponse" element="irsMSG:BulkFileProcessingNotificationResponse"/>
	</wsdl:message>
	<wsdl:message name="ACABusinessHeader">
		<wsdl:part name="ACABusinessHeader" element="irsHDR:ACABusinessHeader"/>
	</wsdl:message>
	<wsdl:message name="ACABatchManifestDetail">
		<wsdl:part name="ACABatchManifestDetail" element="isrepd:ACABatchManifestDetail"/> 	
	</wsdl:message>
	<wsdl:message name="CMSMessageId">
		<wsdl:part name="CMSMessageId" element="irs:MessageId"/>
	</wsdl:message>
	<wsdl:message name="RequestResponseMetricsDetail">
  		<wsdl:part name="RequestResponseMetricsDetail" element="isrepd:RequestResponseMetricsDetail" /> 
  	</wsdl:message>

	<wsdl:portType name="BulkFileProcessingNotificationPortType">
		<wsdl:operation name="BulkFileProcessingNotification">
			<wsdl:input message="BulkFileProcessingNotificationRequest"/>
			<wsdl:output message="BulkFileProcessingNotificationResponse"/>
			<wsdl:fault name="fault" message="Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BulkFileProcessingNotificationBinding" type="BulkFileProcessingNotificationPortType">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="BulkFileProcessingNotification">
			<soapbind:operation soapAction="BulkFileProcessingNotification"/>
			<wsdl:input>		
				<soapbind:header message="ACABusinessHeader" part="ACABusinessHeader" use="literal"/>
				<soapbind:header message="ACABatchManifestDetail" part="ACABatchManifestDetail" use="literal"/>
				<soapbind:header message="CMSMessageId" part="CMSMessageId" use="literal"/>
				<soapbind:header message="RequestResponseMetricsDetail" part="RequestResponseMetricsDetail" use="literal"/>
				<soapbind:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapbind:header message="ACABusinessHeader" part="ACABusinessHeader" use="literal"/>
				<soapbind:body parts="BulkFileProcessingNotificationResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soapbind:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BulkFileProcessingNotificationService">
      <wsdl:port name="BulkFileProcessingNotificationPort" binding="BulkFileProcessingNotificationBinding">
         <soapbind:address location="https://localhost:10502/ws/IRSACAEPD.communication.receiveBRMGBulkNotification"/>         
      </wsdl:port>
    </wsdl:service>
</wsdl:definitions>