camel-jaxb/src/main/resources/wsdl/ACA_XML_LIBRARY_8.0/SRV/IRS-MissingFileNotificationService-1.0.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
				  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
				  xmlns:irs="urn:us:gov:treasury:irs:common" 
				  xmlns:irsHDR="urn:us:gov:treasury:irs:msg:acabusinessheader" 
				  xmlns:irsMSG="urn:us:gov:treasury:irs:msg:missingfilenotification"
				  xmlns="urn:us:gov:treasury:irs:srv:missingfilenotification"
				  xmlns:wsp="http://www.w3.org/ns/ws-policy" 
				  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
				  xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" 
				  xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
				  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
				  xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" 
				  xmlns:sc="http://schemas.sun.com/2006/03/wss/server" 
				  xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy"  
				  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
				  name="MissingFileNotificationService-1.0" 
				  targetNamespace="urn:us:gov:treasury:irs:srv:missingfilenotification">
				  
	<wsdl:documentation>
	<WSDLComponent>
			<DescriptionAndSemantics>This service will..</DescriptionAndSemantics>
			<Provider>Example Provider</Provider>
			<EndPointInformation/>
			<ChannelsSupported/>
			<Operator/>
			<AvailabilityInformation/>
			<CapacityInformation/>
			<PolicyGuardImplementation/>
			<AccessControl/>
			<Dependency/>
			<ChargeBackInformation/>
			<ProvisioningInformation/>
			<Consumers>Example Consumer</Consumers>
		</WSDLComponent>
		<Component>
			<DictionaryEntryNm>Missing File Notification Service</DictionaryEntryNm>
			<MajorVersionNum>1</MajorVersionNum>
			<MinorVersionNum>0</MinorVersionNum>
			<VersionEffectiveBeginDt>2013-07-24</VersionEffectiveBeginDt>
			<VersionDescriptionTxt>version: ACA EPD XML LIBRARY 8.0 as of 05292014</VersionDescriptionTxt>
			<DescriptionTxt>WSDL Definition: This service will send a missing file notification</DescriptionTxt>
		</Component>
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="urn:us:gov:treasury:irs:msg:missingfilenotification" schemaLocation="../MSG/IRS-MissingFileNotificationMessage-1.0.xsd"/>
			<xsd:import namespace="urn:us:gov:treasury:irs:msg:acabusinessheader" schemaLocation="../MSG/HHS-IRS-ACABusinessHeaderMessage-1.0.xsd"/>
			<xsd:import namespace="urn:us:gov:treasury:irs:common" schemaLocation="../COMMON/IRS-CAC-8.0.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="Fault">
		<wsdl:part name="fault" element="irs:ErrorMessageDetail"/>
	</wsdl:message>
	<wsdl:message name="MissingFileNotificationRequest">
		<wsdl:part name="MissingFileNotificationRequest" element="irsMSG:MissingFileNotificationRequest"/>
	</wsdl:message>	
	<wsdl:message name="MissingFileNotificationResponse">
		<wsdl:part name="MissingFileNotificationResponse" element="irsMSG:MissingFileNotificationResponse"/>
	</wsdl:message>
	<wsdl:message name="ACABusinessHeader">
		<wsdl:part name="ACABusinessHeader" element="irsHDR:ACABusinessHeader"/>
	</wsdl:message>

	<wsdl:portType name="MissingFileNotificationPortType">
		<wsdl:operation name="MissingFileNotification">
			<wsdl:input message="MissingFileNotificationRequest"/>
			<wsdl:output message="MissingFileNotificationResponse"/>
			<wsdl:fault name="fault" message="Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MissingFileNotificationBinding" type="MissingFileNotificationPortType">
		<soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="MissingFileNotification">
			<soapbind:operation soapAction="MissingFileNotification"/>
			<wsdl:input>		
				<soapbind:header message="ACABusinessHeader" part="ACABusinessHeader" use="literal"/>
				<soapbind:body parts="MissingFileNotificationRequest" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<!--  soapbind:header message="ACABusinessHeader" part="ACABusinessHeader" use="literal"/ -->	
				<soapbind:body parts="MissingFileNotificationResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soapbind:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MissingFileNotificationService">
      <wsdl:port name="MissingFileNotificationPort" binding="MissingFileNotificationBinding">
         <soapbind:address location="https://localhost:8444/BRMG_ESB_MissingFile_Notification_WS/MissingFileNotificationPortType"/>
      </wsdl:port>
    </wsdl:service>
</wsdl:definitions>